.contact-wrapper {
    .contact-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        width: 100%;
        height: 400px;
    }
    .contact-contents {
        .child {
            margin: 20px;
        }
    }
}